/* ############################################
			10 - DISCOGRAFÍA
############################################ */

#discouno {
	margin-left: 34px;
}

ol #discouno {

}


#discodos {
	margin-left: 34px;
}

#discotres {
	margin-left: 34px;
}

div #cubo {
	background-color: #EEE;
	border: 1px solid #DDD;
	margin-right: 677px;
	margin-bottom: 10px;
}