/* ############################################
			10 - DISCOGRAFÍA
############################################ */
h2 {
	float: left;
	font-family: 
}

#cubo {
	font-family: 'Loved by the King', cursive;
	font-size: 15px;
}

#discouno img { 
	float: left;
	margin-top: 30px
}
#discodos img {
	float: left;
	margin-top: 30px
}
#discotres img {
	float: left;
	margin-top: 30px
} 

