/* ############################################
			9 - GALERIA DE FOTOS
############################################ */

#galeria {
	margin-left: 35px;
	margin-top: 30px;
}

.foto, .video {
	display: inline;
	width: 280px;
	float: left;
	margin-right: 14px;
	margin-bottom: 10px;
	border: 1px solid gray;
	border-radius: 7px;
	background-color: EFEFEF;
}

.foto span {
	display: block;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
}


#citas p {
	text-align: center;
	background-color: white;
	color: maroon;
	width: 728px;
	opacity: 0.8;
	font-size: 40px;
	float: right;
	font-family: 'Loved by the King', cursive;
	margin-right: 138px;
	margin-bottom: 14px;
}