/* ############################################
			9 - INTEGRANTES
############################################ */

#container {
	color: gray;
	text-align: center;
}
#integrantes {
	margin-top: 25px;
	margin-bottom: 25px;
}	
h3 #integrantes
 {
	margin-bottom: 5px;
}

img article #integrantes {
	margin-bottom: 5px;
}
