/* ############################################
			10 - PROXIMOS RECITALES
############################################ */

#fechas {
	margin-bottom: 25px;
	margin-top: 5px;
}

#fechas h1 {
	font-family: 'Open Sans Condensed', sans-serif;
}
#fechas h4 {
	font-family: 'Open Sans Condensed', sans-serif;
}


#citas p {
	text-align: center;
	background-color: white;
	color: maroon;
	width: 728px;
	opacity: 0.8;
	font-size: 40px;
	float: right;
	font-family: 'Loved by the King', cursive;
	margin-right: 138px;
	margin-bottom: 14px;
}

