/* ############################################
			10 - PROXIMOS RECITALES
############################################ */

#fechas {
	margin-bottom: 25px;
	margin-top: 5px;
}

#fechas h1 {
	font-family: 'Open Sans Condensed', sans-serif;
}
#fechas h4 {
	font-family: 'Open Sans Condensed', sans-serif;
}


#recitales {
	font-family: 'Open Sans Condensed', sans-serif;	
	text-align: left;
	font-size: 25px;
	margin-top: 45px;
	margin-bottom: 45px;
	float: left;
	margin-left: 70px;
}

#recitales thead {
	float: right;
}