/* Hoja de estilos para web de Los Pepinitos:

0 - IMPORTS

1 - LAYOUT

2 - NAVEGACIÓN SUPERIOR

3 - NAVEGACIÓN INFERIOR

4 - import AGRADECIMIENTO

5 - import VIDEO

6 - NUEVO DISCO

7 - DESCARGAR TEMA

8 - FOOTER 

*/


/* ############################################
			0 - IMPORTS
############################################ */

@import "reset.css";
@import "imagenes.css";
@import "discografia.css";
@import "agradecimiento.css";
@import "video.css";
@import "proximos-recitales.css";
@import "integrantes.css";
@import "tema-nuevo.css";

/* ############################################
			1 - LAYOUT
############################################ */

body {
	background-image: url("chal.jpg");
	font-family: sans-serif;
	background-repeat: no-repeat;
	background-attachment:fixed;
}

div #noticias{
	overflow-x:hidden; 
}

.clear {
	clear: both;
}

#container {
	width: 940px;
	height: 100%;
	overflow: hidden;
	background-color: white;
	border: 2px solid white;
	margin:0 auto 15px;
	padding-top: 10px;
}

header {
	margin-top: 30px;
	height: 145px;
	text-align: center;
	margin: 0 auto;
	width: 940px;
	background-color: white;
	border: 2px solid white;
	margin-bottom: 15px;
}

header h1 {
	font-size: 120px;
	color: Grey;
	margin-top: 5px;
	text-shadow: 5px 5px 5px lightGrey;
	font-family: 'Amatic SC', cursive;
	text-decoration: none;
}

#link-inicio {
	text-decoration: none;
}

#linkDescarga {
	color: orange;
	font-weight: bolder;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 35px;
}

#agradecimiento h2 {
	text-align: center;
}
#agradecimiento p {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	margin-top: 50px;
}

#citas div {
	float: right;
	height: 300px;
	width: 940px;
}

/* ############################################
			2 - NAVEGACIÓN SUPERIOR
############################################ */

#barraSuperior {
	width: 940px;
	margin: 0 auto 15px;
}

#barraSuperior ul {
	list-style-type: none;
	margin: 1px;
	width: 940px;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	height: 40px;
}

#barraSuperior ul li {
	background-color: white;
	float: left;
  	list-style: none;
  	margin-right: 2px;
}

#barraSuperior ul li a {
	float: left;
  	padding: 5px 46px;
	color: gray;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
}

#barraSuperior ul li a:hover {
	border-bottom: 10px solid Grey;
	color: silver;
}



/* ############################################
			3 - VIDEO
############################################ */

#video iframe {
	display: inline;
	width: 46%;
	padding: 0 3%;
}

/* ############################################
			4 - NUEVO DISCO
############################################ */

div#disco {
	float: left;
	width: 47%;
	padding: 20px 3%;
	margin-bottom: 25px;
}

div#disco img {
	float: left;
	width: 50%;
}

div#disco h5 {
	display: inline;
	float: right;
	font-family: 'Open Sans Condensed', sans-serif;
	margin-bottom: 30px;
	width: 210px;
	text-align: center;
}

div#disco ol {
	float: right;
	padding: 0;
	font-family: 'Open Sans Condensed', sans-serif;
	display: inline;
	width: 210px;
	list-style-position: inside;
}

/* ############################################
			5 - FOOTER
############################################ */

p#copyRight {
	float: left;
	margin-bottom: 5px;
	text-align: center;
	width: 100%;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	color: white;
}

