/* Hoja de estilos para web de Los Pepinitos:

0 - IMPORTS

1 - LAYOUT

2 - NAVEGACIÓN SUPERIOR

3 - NAVEGACIÓN INFERIOR

4 - import AGRADECIMIENTO

5 - import VIDEO

6 - NUEVO DISCO

7 - DESCARGAR TEMA

8 - FOOTER 

*/


/* ############################################
			0 - IMPORTS
############################################ */

@import "reset.css";
@import "imagenes.css";
@import "discografia.css";
@import "agradecimiento.css";
@import "video.css";
@import "proximos-recitales.css";
@import "integrantes.css";

/* ############################################
			1 - LAYOUT
############################################ */

body {
	background-color: white;
	color: white;
	font-family: Englebert, sans serif ;
}

.clear {
	clear: both;
}

#container {
	background-color: white;
	width: 940px;
	border: 2px solid white;
	margin:0 auto 15px;
	padding-top: 10px;
}

header {
	margin-top: 30px;
	height: 145px;
	text-align: center;
	margin: 0 auto;
	width: 940px;
	background-color: white;
	border: 2px solid white;
	margin-bottom: 15px;
}

header h1 {
	font-size: 60px;
	font-family: sans-serif;
	font-weight: bolder;
	color: YellowGreen;
	margin-top: 40px;
}

#linkDescarga {
	color: orange;
	font-weight: bolder;
}

/* ############################################
			2 - NAVEGACIÓN SUPERIOR
############################################ */

#barraSuperior {
	width: 940px;
	margin: 0 auto 15px;
}

#barraSuperior ul {
	height: 40px;
	padding-left: 3px;
	margin: 0px 0px 0px 17px;
	margin-left: 17px;
}

#barraSuperior ul li {
	float: left;
	list-style: none;
	margin-right: 2px;
}

#barraSuperior ul li a {
	float: left;
	padding: 5px 40px;
	font-weight: normal;
	text-decoration: none;
	color: silver;
	border-bottom: 3px solid silver;
}

#barraSuperior ul li a:hover {
	border-color: YellowGreen;
}

/* ############################################
			3 - NAVEGACIÓN INFERIOR
############################################ */
#navInferior {
	background-color: white;
	width: 940px;
	margin: 0 auto 15px;
	margin-top: 7px;
}
#navInferior ul {
	height: 40px;
	padding-left: 3px;
	padding-top: 11px;
	margin: 0px;
	margin-left: 17px;
}
#navInferior ul li {
	float: left;
	list-style: none;
	margin-right: 1px;
}
#navInferior ul li a {
	float: left;
	color: silver;
	padding: 5px 40px;
	float: left;
	padding: 5px 40px;
	font-weight: normal;
	text-decoration: none;
	border-bottom: 3px solid silver;
	}
#navInferior ul li a:hover {
	border-color: YellowGreen;
}

/* ############################################
			5 - VIDEO
############################################ */

#video iframe {
	display: inline;
	width: 46%;
	padding: 0 3%;
}

/* ############################################
			6 - NUEVO DISCO
############################################ */

div#disco {
	float: left;
	width: 47%;
	padding: 20px 3%;
}

div#disco img {
	float: left;
	width: 50%;
}

div#disco h5 {
	display: inline;
	float: right;
	width: 210px;
	text-align: center;
}

div#disco ol {
	float: right;
	padding: 0;
	display: inline;
	width: 210px;
	list-style-position: inside;
}

/* ############################################
			7 - DESCARGAR TEMA 
############################################ */

div#tema {
	float: right;
	width: 47%;
	text-transform: uppercase;
	text-align: center;
}

div#tema object {
	display: block;
	height: 132px;
	width: 100%;
}

div#tema object embed {
	width: 100%;
}

/* ############################################
			8 - FOOTER
############################################ */

p#copyRight {
	float: left;
	margin-bottom: 1px;
	text-align: center;
	width: 100%;
	font-size: 13px;
	color: white;
}

