/* ############################################
			7 - DESCARGAR TEMA 
############################################ */

div#tema {
	float: right;
	width: 47%;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 20px;
	}

div#tema h3 {
	font-family: 'Open Sans Condensed', sans-serif;
}

a#linkDescarga {
	text-decoration: none;
	margin-top: 10px;
	color: gray;
}

a#linkDescarga:hover {
	color: silver;
}

div#tema object {
	display: block;
	height: 132px;
	width: 100%;
}

div#tema object embed {
	width: 100%;
	margin-top: 25px;
}

#citas p {
	text-align: center;
	background-color: white;
	color: maroon;
	width: 728px;
	opacity: 0.8;
	font-size: 40px;
	float: right;
	font-family: 'Loved by the King', cursive;
	margin-right: 138px;
	margin-bottom: 14px;
}