/* ############################################
			11 - VIDEOS
############################################ */

.video img {
	width: 280px;
	margin-right: 10px;
	margin-bottom: 10px;
}

h2#encabezado {

}

a#click {
	margin-left: 34px;
}

div #videoGrande {

}

p#descripcion{
	margin-bottom: 10px;
	margin-top: 10px;
}

#click {
font-size:14px;
padding: 8px 14px 9px;
}

