/* ############################################
			11 - VIDEOS
############################################ */

.video img {
	width: 280px;
	margin-right: 10px;
	margin-bottom: 10px;
}

h2#encabezado {
	margin-top: 10px;
	margin-bottom: 10px;
}

a#click {
	margin-left: 34px;
}

div #videoGrande {
	margin-top: 30px;
}

p#descripcion{
	margin-bottom: 10px;
	margin-top: 10px;
}

#click {
font-size:14px;
padding: 8px 14px 9px;
}

#volveratras {
	color: silver;
	padding: 5px 20px 5px 20px;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: normal;
	text-decoration: none;	
	float: left;
	margin-left: 22px;
	margin-bottom: 10px;
}

#volveratras:hover{
	border-bottom: YellowGreen;
}


#citas p {
	text-align: center;
	background-color: white;
	color: maroon;
	width: 728px;
	opacity: 0.8;
	font-size: 40px;
	float: right;
	font-family: 'Loved by the King', cursive;
	margin-right: 138px;
	margin-bottom: 14px;
}